* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 680px;
	background-color: #d9ffac;
}

h1 {
	text-align: center;
	margin: 10px auto;
}

.user-form {
	width: 100%;
	margin: 40px 0 10px 0;
}

.form-group {
	width: 100%;
	margin: 10px auto;
}

label, input {
	display: block;
}

input {
	width: 40%;
}

.red {
	border: 3px solid red;
}

.img {
	text-align: center;
}